<!DOCTYPE html>
<html>
    <head>
        <title>Diretivas v-if e v-for</title>
        <meta charset="utf-8">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
        <div id="app">
            <div v-if="status"><!--Só renderizo o array se a condição for verdadeira-->
                <p v-for="anime in array">{{anime}}</p>
            </div>
            <div v-show="status">
                <p v-for="anime in array">{{anime}}</p>
            </div>
            <br/><br/>
            <form>
                <input v-for= "i in id" type="text" v-model="array[i]"/>
            </form>
        </div>
    </body>
    <script>
        var app = new Vue({
            el: "#app",
            data: {
                id:[0, 1, 2],
                mensagem:"Hello World",
                status: true,
                array: ['Pokemon', 'Dragon Ball', 'Saint Seiya']
            }
        });
    </script>
</html>